@import "tailwindcss";

@theme {
  --color-sidebar : #1E2640;
  --color-sidebarText : #C8C9D0;
  --color-sbCardBg : #4A5065;
  --color-sbDownBg : #353C53;
  --color-sidebarHover : #353C53;
  --color-cardBg :#146EB4;
  --color-cardHover : #0E4F82;
}